@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-button-active: hsl(172, 67%, 45%);
    --color-button-primary: hsl(183, 100%, 15%);
    --dark-grayish-cyan-1: hsl(186, 14%, 43%);
    --dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --color-container-fill: hsl(185, 41%, 84%);
    --color-input-fill: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
  }
}
body {
  margin: 0;
  font-family: "Space Mono";
  /* font-size: 24px; */
}

.letterSpacing {
  letter-spacing: 8px;
}

/* Remove Arrows from input[number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Active, hover, focus Border Color for inputs */
.border-primary {
  border-radius: 6px;
}
.border-primary:focus-within {
  border: 2px solid #26c0ab !important;
  border-radius: 6px;
}
.border-hover:hover {
  border: 2px solid #26c0ab !important;
  border-radius: 6px;
}

/* Background fill for Tip Selected */
.bg-focus {
  background-color: #26c0ab !important;
  color: hsl(183, 100%, 15%) !important;
}
.bg-active {
  background-color: #26c0ab;
}

/* Hover State on Buttons */
.bg-hover:hover {
  background: hsl(185, 41%, 84%) !important;
  color: hsl(183, 100%, 15%) !important;
}

/* Error Border Color */
.border-error {
  border: 2px solid rgba(248, 113, 113) !important;
  border-radius: 6px;
}

/* Cyan Variations */

.very-dark-cyan {
  background-color: hsl(183, 100%, 15%);
}
.dark-gray-cyan1 {
  color: hsl(186, 14%, 43%);
}
.dark-gray-cyan2 {
  color: hsl(184, 14%, 56%);
}
.light-gray-cyan1 {
  color: hsl(185, 41%, 84%);
}
.tip-key {
  color: hsl(189, 41%, 97%);
}
.white {
  color: hsl(0, 0%, 100%);
}
